.heading {
  padding: 0 7px;
  border-radius: 7px;
  width: fit-content;
}

.green {
  background-color: var(--color-green);
}

.white {
  background-color: var(--color-white);
}

.black {
  background-color: var(--color-black);
  color: var(--color-white);
}
